@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import "./components/banner";
@import "./components/header";
@import "./components/offersection";
@import "./components/popularsection";
@import "./components/testimonial";
@import "./components/about";
@import "./components/contact";
@import "./components/footer";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
